<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web with Go</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
<h1>Updates</h1>


<form method="post" style="margin: 20px">
        <textarea name="update">

        </textarea>
    <div>
        <button type="submit">Post Update</button>
    </div>
</form>

{{range .}}

    <div>
        <div>
            <strong>{{.GetUser.GetUsername}}</strong>
        </div>
        <div>{{ .GetBody }}</div>
    </div>
{{end}}
</body>
</html>